.launchEventBox {
  width: 370px;
  height: 550px;
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  box-shadow: 2px 2px 3px gray;
  left: 38%;
  top: 10%;
  z-index: 30;
  position: fixed;
  transition: 0.4s;
  .handleCancelEventBox {
    position: absolute;
    right: 0;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
  }
  .newEventBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      margin-top: 10px;
      font-size: 1.5rem;
    }
    .eventInputTitle {
      font-size: 14px;
      letter-spacing: 2px;
      margin: 10px 0px 5px 0px;
      span {
        color: red;
      }
    }
    input {
      width: 250px;
      border-radius: 10px;
      padding: 5px 8px;
      border: none;
      text-align: center;
      font-size: 16px;
      &:focus {
        outline: 2px solid gray;
      }
    }
    textarea {
      width: 250px;
      height: 130px;
      padding: 5px 8px;
      resize: none;
    }
    .eventErrorMessage {
      font-weight: bolder;
      color: red;
    }
    button {
      width: 250px;
      border-radius: 10px;
      padding: 5px 8px;
      border: none;
      text-align: center;
      font-size: 18px;
      margin-top: 12px;
      cursor: pointer;
      background-color: rgb(145, 143, 143);
      transition: 0.3s;
      &:hover {
        background-color: rgb(160, 160, 160);
      }
    }
  }
}

@media (max-width: 950px) {
  .launchEventBox {
    width: 330px;
    height: 460px;
    left: 30%;
    .newEventBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        margin-top: 7px;
        font-size: 1.2rem;
      }
      .eventInputTitle {
        font-size: 12px;
        margin: 6px 0px 3px 0px;
      }
      input {
        padding: 3px 8px;
      }
      textarea {
        height: 110px;
      }
      button {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 600px) {
  .launchEventBox {
    left: 20%;
  }
}

@media (max-width: 485px) {
  .launchEventBox {
    width: 310px;
    left: 5%;
  }
}
