* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: rgb(252, 252, 209);
}

.bannerImg {
  width: 100%;
  height: 100vh;
  background: url("../photos/beer.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  .backgroundShadow {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
nav {
  width: 80%;
  // position: relative;
  margin: 0px auto;
  z-index: 10;
  display: grid;
  grid-template-columns: 5% repeat(17, 5%) 5%;
  align-items: center;
  padding-top: 20px;
  z-index: 10;
  opacity: 0;
  transform: translateY(-50px);
  animation: navSlideDown 0.4s 0.8s forwards;
  h1 {
    cursor: pointer;
    grid-column: 2/6;
    font-size: 2rem;
    color: rgb(250, 250, 74);
  }
  ul {
    grid-column: 8/14;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    color: rgb(252, 252, 209);
    li {
      cursor: pointer;
    }
    li:nth-child(2) {
      border: 1px solid white;
      padding: 5px 8px;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: rgb(145, 142, 142);
        transition: 0.3s;
      }
    }
  }
  button {
    grid-column: 18/20;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 0px;
    background-color: transparent;
    // width: 90px;
    color: rgb(252, 252, 209);
    font-size: 22px;
    cursor: pointer;
    position: relative;
    &:hover {
      background-color: rgb(145, 142, 142);
      transition: 0.3s;
    }
    .newMessageMark {
      top: -20px;
      right: 5px;
      color: red;
      font-size: 35px;
      font-weight: bold;
      position: absolute;
    }
  }
}

.bannerContent {
  position: relative;
  width: 80%;
  height: 350px;
  z-index: 10;
  padding-left: 4%;
  color: rgb(252, 252, 209);
  font-size: 2.4rem;
  margin: 100px auto 200px auto;
  opacity: 0;
  transform: translateX(-100px);
  animation: bannerContentSlideDown 0.5s 0.2s forwards;
  h2 {
    letter-spacing: 5px;
    padding: 5px 0px;
  }
  button {
    font-size: 1.7rem;
    border: 3px solid rgb(252, 252, 209);
    background-color: transparent;
    color: rgb(250, 250, 74);
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 10px;
    &:hover {
      background-color: rgb(41, 40, 40);
      transition: 0.3s;
    }
  }
}

@keyframes navSlideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes bannerContentSlideDown {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media (max-width: 900px) {
  nav {
    width: 90%;
    h1 {
      grid-column: 1/6;
      font-size: 1.6rem;
    }
    ul {
      grid-column: 7/18;
      font-size: 16px;
    }
    button {
      grid-column: 19/21;
      padding: 3px;
      font-size: 16px;
    }
  }
  .bannerContent {
    font-size: 2rem;
  }
}

@media (max-width: 520px) {
  nav {
    width: 95%;
    h1 {
      grid-column: 1/6;
      font-size: 1.5rem;
    }
    ul {
      grid-column: 7/17;
      font-size: 14px;
      justify-content: flex-end;
      li {
        margin: 0px 5px;
      }
      li:nth-child(2) {
        padding: 4px;
      }
      li:nth-child(3) {
        display: none;
      }
    }
    button {
      grid-column: 18/21;
      padding: 4px;
      font-size: 14px;
    }
  }

  .bannerContent {
    width: 95%;
    height: 350px;
    font-size: 1.8rem;
    padding: 0;
    margin: 100px auto 200px auto;
    h2 {
      padding: 5px 0px;
    }
    button {
      font-size: 1.4rem;
      cursor: pointer;
      padding: 8px 16px;
      margin-top: 40px;
    }
  }
}

@media (max-width: 390px) {
  .bannerContent {
    font-size: 1.5rem;
    margin: 150px auto 200px auto;

    button {
      font-size: 1.3rem;
    }
  }
}
