.memberContainer {
  width: 1300px;
  height: 1000px;
  outline: 1px solid black;
  margin: 200px auto 50px auto;
  display: grid;
  grid-template-columns: repeat(26, 50px);
  grid-template-rows: repeat(25, 40px);
  position: relative;
}
.memberContainer .participantContact {
  width: 550px;
  height: 350px;
  background-color: rgb(141, 141, 141);
  position: absolute;
  z-index: 15;
  top: 40%;
  left: 20%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 5px;
  transition: 0.4s;
}
.memberContainer .participantContact .participantListItem {
  width: 520px;
  margin: 5px 0px;
  padding: 5px 0px;
  display: flex;
  border-bottom: 1px solid rgb(75, 75, 75);
}
.memberContainer .participantContact .participantListItem .participantName {
  width: 120px;
}
.memberContainer .participantContact .participantListItem .participantLineId {
  width: 150px;
}
.memberContainer .participantContact .participantListItem .participantWebsite {
  width: 250px;
}
.memberContainer .participantContact .participantListItem .participantWebsiteLink {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
.memberContainer .basicInfo {
  box-shadow: 2px 2px 5px gray, -2px -2px 1px gray;
  background-color: white;
  border-radius: 10px;
  grid-column: 2/12;
  grid-row: 2/25;
}
.memberContainer .basicInfo .memberImg {
  margin: 15px auto;
  width: 400px;
  height: 300px;
}
.memberContainer .basicInfo .memberImg img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.memberContainer .basicInfo .memberProfile {
  width: 400px;
  margin: 5px auto;
}
.memberContainer .basicInfo .memberProfile .memberInfoTitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 15px 0px;
}
.memberContainer .basicInfo .memberProfile .memberInfoTitle h3 {
  font-size: 1.8rem;
}
.memberContainer .basicInfo .memberProfile .memberInfoTitle h3 .fa-pen {
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
}
.memberContainer .basicInfo .memberProfile .memberInfoTitle h3 .fa-pen:hover {
  color: rgb(90, 90, 90);
}
.memberContainer .basicInfo .memberProfile .memberInfoTitle h3 .fa-check {
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bolder;
}
.memberContainer .basicInfo .memberProfile .memberInfoTitle h3 .fa-check:hover {
  color: rgb(90, 90, 90);
}
.memberContainer .basicInfo .memberProfile .memberInfoTitle .PrivatePublicBtn {
  width: 100px;
}
.memberContainer .basicInfo .memberProfile .memberInfoTitle .PrivatePublicBtn button {
  width: 100px;
  cursor: pointer;
  background-color: gray;
  padding: 5px 8px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
}
.memberContainer .basicInfo .memberProfile .memberInfoTitle .PrivatePublicBtn button:hover {
  background-color: rgb(107, 107, 107);
}
.memberContainer .basicInfo .memberProfile .memberInfoTitle .PrivatePublicBtn button .fa-user-pen {
  font-size: 14px;
  margin: 5px;
}
.memberContainer .basicInfo .memberProfile .memberName {
  width: 400px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.memberContainer .basicInfo .memberProfile .memberName h4 {
  width: 70px;
  text-align: center;
  font-size: 1.2rem;
}
.memberContainer .basicInfo .memberProfile .memberName textarea {
  resize: none;
  width: 190px;
  height: 30px;
  border: none;
  text-align: center;
  background-color: rgb(224, 222, 222);
  padding: 5px;
  font-size: 15px;
  border-radius: 10px;
}
.memberContainer .basicInfo .memberProfile .memberName textarea:focus {
  outline: none;
}
.memberContainer .basicInfo .memberProfile .memberName .memberSex {
  width: 120px;
  padding: 8px 0px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  background-color: white;
}
.memberContainer .basicInfo .memberProfile .memberName .memberSex h4 {
  width: 40px;
  font-size: 1.2rem;
  margin-right: 10px;
}
.memberContainer .basicInfo .memberProfile .memberName .memberSex textarea {
  resize: none;
  width: 80px;
  height: 30px;
  text-align: center;
  padding: 5px;
  border: none;
  font-size: 15px;
  border-radius: 10px;
}
.memberContainer .basicInfo .memberProfile .memberName .memberSex textarea:focus {
  outline: none;
}
.memberContainer .basicInfo .memberProfile .memberJob {
  width: 400px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.memberContainer .basicInfo .memberProfile .memberJob h4 {
  text-align: center;
  width: 70px;
  font-size: 1.2rem;
}
.memberContainer .basicInfo .memberProfile .memberJob textarea {
  resize: none;
  height: 30px;
  border: none;
  width: 330px;
  text-align: center;
  background-color: rgb(224, 222, 222);
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}
.memberContainer .basicInfo .memberProfile .memberJob textarea:focus {
  outline: none;
}
.memberContainer .basicInfo .memberProfile .memberPassion {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.memberContainer .basicInfo .memberProfile .memberPassion h4 {
  width: 70px;
  text-align: center;
  font-size: 1.2rem;
}
.memberContainer .basicInfo .memberProfile .memberPassion textarea {
  resize: none;
  height: 30px;
  font-size: 15px;
  width: 330px;
  border: none;
  text-align: center;
  background-color: rgb(224, 222, 222);
  padding: 5px;
  border-radius: 10px;
}
.memberContainer .basicInfo .memberProfile .memberPassion textarea:focus {
  outline: none;
}
.memberContainer .basicInfo .memberProfile .memberAboutMe {
  margin-top: 15px;
  display: flex;
}
.memberContainer .basicInfo .memberProfile .memberAboutMe h4 {
  text-align: center;
  font-size: 1.2rem;
  width: 70px;
}
.memberContainer .basicInfo .memberProfile .memberAboutMe .memberAboutMeContent {
  resize: none;
  padding: 5px;
  font-size: 15px;
  border: none;
  background-color: rgb(224, 222, 222);
  border-radius: 10px;
  width: 330px;
  height: 135px;
}
.memberContainer .basicInfo .memberProfile .memberAboutMe .memberAboutMeContent:focus {
  outline: none;
}
.memberContainer .memberRecommend {
  box-shadow: 2px 2px 5px gray, -2px -2px 1px gray;
  border-radius: 10px;
  background-color: white;
  grid-column: 14/25;
  grid-row: 2/17;
}
.memberContainer .memberEvents {
  box-shadow: 2px 2px 5px gray, -2px -2px 1px gray;
  border-radius: 10px;
  background-color: white;
  grid-column: 14/25;
  grid-row: 18/25;
}
.memberContainer .memberEvents .eventHeader {
  border-radius: 10px;
  display: flex;
  width: 100%;
}
.memberContainer .memberEvents .eventHeader .memberEventLaunch {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  width: 50%;
  border-radius: 10px;
  outline: 1px solid gray;
  cursor: pointer;
}
.memberContainer .memberEvents .eventHeader .memberEventLaunch:hover {
  background-color: rgb(238, 238, 238);
}
.memberContainer .memberEvents .eventHeader .memberEventJoin {
  text-align: center;
  outline: 1px solid gray;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
}
.memberContainer .memberEvents .eventHeader .memberEventJoin:hover {
  background-color: rgb(238, 238, 238);
}
.memberContainer .memberEvents .memberEventContainer {
  overflow-y: scroll;
  width: 500px;
  height: 220px;
  margin: 15px auto 5px auto;
  background-color: rgb(238, 238, 238);
  padding: 5px;
}
.memberContainer .memberEvents .memberEventContainer .memberEventList {
  display: flex;
  align-items: center;
  margin-top: 3px;
  padding: 4px 0px;
  border-bottom: 1px solid gray;
}
.memberContainer .memberEvents .memberEventContainer .memberEventList .memberEventName {
  width: 160px;
}
.memberContainer .memberEvents .memberEventContainer .memberEventList .memberEventDate {
  width: 100px;
}
.memberContainer .memberEvents .memberEventContainer .memberEventList .memberEventTime {
  width: 60px;
}
.memberContainer .memberEvents .memberEventContainer .memberEventList .memberEventPal {
  width: 60px;
}
.memberContainer .memberEvents .memberEventContainer .memberEventList .memberEventBtn {
  width: 90px;
}
.memberContainer .memberEvents .memberEventContainer .memberEventList .memberEventBtn .memberEventContact {
  width: 40px;
  border-radius: 10px;
  padding: 3px 5px;
  border: none;
  outline: 1px solid black;
  cursor: pointer;
}
.memberContainer .memberEvents .memberEventContainer .memberEventList .memberEventBtn .memberEventDelete {
  width: 40px;
  padding: 3px 5px;
  border-radius: 10px;
  margin: 0px 5px;
  border: none;
  outline: 1px solid black;
  cursor: pointer;
}

.memberPhone {
  width: 400px;
  display: flex;
  align-items: center;
  margin: 10px 0px 20px 0px;
  position: relative;
}
.memberPhone h4 {
  text-align: center;
  width: 70px;
  font-size: 1.2rem;
}
.memberPhone input {
  height: 30px;
  border: none;
  width: 330px;
  text-align: center;
  background-color: rgb(224, 222, 222);
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}
.memberPhone input:focus {
  outline: none;
}
.memberPhone .memberTogglePassword {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
}
.memberPhone .memberPasswordLine {
  cursor: pointer;
  position: absolute;
  right: 0.7rem;
  transform: rotate(-45deg);
  width: 24px;
  height: 2px;
  background-color: black;
}

.memberLineId {
  width: 400px;
  display: flex;
  align-items: center;
  margin: 20px 0px;
  position: relative;
}
.memberLineId h4 {
  text-align: center;
  width: 70px;
  font-size: 1.2rem;
}
.memberLineId input {
  height: 30px;
  border: none;
  width: 330px;
  text-align: center;
  background-color: rgb(224, 222, 222);
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}
.memberLineId input:focus {
  outline: none;
}
.memberLineId .memberTogglePassword {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
}
.memberLineId .memberPasswordLine {
  cursor: pointer;
  position: absolute;
  right: 0.7rem;
  transform: rotate(-45deg);
  width: 24px;
  height: 2px;
  background-color: black;
}

.memberEmail {
  width: 400px;
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.memberEmail h4 {
  text-align: center;
  width: 100px;
  font-size: 1.2rem;
}
.memberEmail textarea {
  resize: none;
  height: 30px;
  border: none;
  width: 280px;
  text-align: center;
  background-color: rgb(224, 222, 222);
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}
.memberEmail textarea:focus {
  outline: none;
}

.memberPassword {
  width: 400px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.memberPassword h4 {
  text-align: center;
  width: 100px;
  font-size: 1.2rem;
}
.memberPassword textarea {
  resize: none;
  height: 30px;
  border: none;
  width: 280px;
  text-align: center;
  background-color: rgb(224, 222, 222);
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}
.memberPassword textarea:focus {
  outline: none;
}

.memberOption {
  margin: 20px 0px;
}
.memberOption h4 {
  text-align: center;
  font-size: 1.2rem;
}
.memberOption .memberOptionPhone {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.memberOption .memberOptionPhone p {
  width: 100px;
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
}
.memberOption .memberOptionPhone span {
  font-size: 13px;
  font-weight: bolder;
}
.memberOption .memberOptionPhone .memberOptionContainer {
  width: 40px;
  outline: 1px solid gray;
  margin: 0px 8px;
  border-radius: 20px;
}
.memberOption .memberOptionPhone .memberOptionContainer .memberOptionCircle {
  transition: 0.3s;
  width: 22px;
  height: 22px;
  background-color: darkblue;
  border-radius: 50%;
  cursor: pointer;
}
.memberOption .memberOptionLindId {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.memberOption .memberOptionLindId p {
  width: 100px;
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
}
.memberOption .memberOptionLindId span {
  font-size: 13px;
  font-weight: bolder;
}
.memberOption .memberOptionLindId .memberOptionContainer {
  width: 40px;
  outline: 1px solid gray;
  margin: 0px 8px;
  border-radius: 20px;
}
.memberOption .memberOptionLindId .memberOptionContainer .memberOptionCircle {
  cursor: pointer;
  transition: 0.3s;
  width: 22px;
  height: 22px;
  background-color: darkblue;
  border-radius: 50%;
}

.memberRecommend h3 {
  margin-top: 5px;
  text-align: center;
}
.memberRecommend .barRecommendInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.memberRecommend .barRecommendInput input {
  margin: 15px;
  width: 200px;
  background-color: rgb(224, 222, 222);
  border-radius: 10px;
  padding: 8px;
  border: none;
}
.memberRecommend .barRecommendInput input:focus {
  outline: none;
}
.memberRecommend .barRecommendInput textarea {
  resize: none;
  width: 400px;
  height: 75px;
  background-color: rgb(224, 222, 222);
  border-radius: 10px;
  padding: 8px;
  border: none;
}
.memberRecommend .barRecommendInput div button {
  cursor: pointer;
  margin: 10px 10px;
  padding: 8px 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(223, 221, 221);
}
.memberRecommend .barRecommendInput div button:nth-child(1) {
  background-color: rgb(160, 159, 159);
}
.memberRecommend .barRecommendOutput {
  background-color: rgb(202, 200, 200);
  border-radius: 10px;
  width: 500px;
  height: 360px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
}
.memberRecommend .barRecommendOutput div {
  height: 120px;
  padding: 8px;
  display: flex;
  align-items: center;
}
.memberRecommend .barRecommendOutput div:nth-child(1) {
  border-bottom: 1px solid black;
}
.memberRecommend .barRecommendOutput div:nth-child(2) {
  border-bottom: 1px solid black;
}
.memberRecommend .barRecommendOutput div input {
  margin: 2px 10px 0px 0px;
}
.memberRecommend .barRecommendOutput div h4 {
  width: 120px;
}
.memberRecommend .barRecommendOutput div p {
  width: 360px;
}/*# sourceMappingURL=index.css.map */