.mainFeature {
  width: 1200px;
  margin: 250px auto 200px auto;
  h3 {
    color: #2f4858;
    font-size: 2rem;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 1.3rem;
    margin: 15px 0px 100px 0px;
  }
  .featuresContainer {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, 290px);
    text-align: center;
    .featureItem {
      .featureItemIconContainer {
        margin: auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #2f4858;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: rgb(250, 250, 209);
          font-size: 4rem;
          transition: 0.4s;
          &:hover {
            color: rgb(255, 255, 119);
          }
        }
      }
      ul {
        list-style-type: none;
        margin-top: 30px;
        li {
          font-weight: bold;
          font-size: 19px;
          padding: 10px 0px;
        }
      }
    }
  }
}
.guideTitle {
  text-align: center;
  h3 {
    color: #2f4858;
    font-size: 2rem;
  }
  p {
    font-size: 1.3rem;
    margin: 15px 0px 150px 0px;
  }
}

.guideSteps {
  width: 900px;
  margin: 0px auto 150px auto;
  display: grid;
  grid-template-columns: 350px 200px 350px;
  grid-template-rows: 150px 200px 150px 200px 150px 350px;
  .stepContainer {
    width: 300px;
    border-radius: 10px;
    background-color: #005e4e;
    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/4;
      position: relative;
      &::before {
        content: "01";
        font-size: 12rem;
        color: rgba(128, 128, 128, 0.2);
        position: absolute;
        margin: -135px 0px 0px -100px;
      }
    }
    &:nth-child(2) {
      grid-column: 3/4;
      grid-row: 3/6;
      position: relative;
      &::before {
        content: "02";
        font-size: 12rem;
        color: rgba(128, 128, 128, 0.2);
        position: absolute;
        margin: -135px 0px 0px -100px;
      }
    }
    &:nth-child(3) {
      grid-column: 1/2;
      grid-row: 5/7;
      position: relative;
      &::before {
        content: "03";
        font-size: 12rem;
        color: rgba(128, 128, 128, 0.2);
        position: absolute;
        margin: -135px 0px 0px -100px;
      }
    }
    .guideImgContainer {
      width: 300px;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    h3 {
      color: rgb(250, 250, 209);
      text-align: center;
      padding: 8px;
      font-size: 1.5rem;
      position: relative;
      &::before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        top: 0;
        border-top: 50px solid transparent;
        border-left: 150px solid #005e4e;
        border-right: 150px solid #005e4e;
        transform: translateY(-100%);
      }
    }
    p {
      color: rgb(250, 250, 209);
      padding: 10px 5px;
      text-align: center;
      span {
        text-decoration: underline;
        color: rgb(255, 255, 123);
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 900px) {
  .mainFeature {
    margin-top: 100px;
  }
}

@media (max-width: 1200px) {
  .mainFeature {
    width: 90%;
    p {
      margin-bottom: 50px;
    }
    .featuresContainer {
      grid-template-columns: repeat(auto-fill, 45%);
      justify-content: space-between;
      text-align: center;
      .featureItem {
        margin: 20px 0px;
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }
  .guideSteps {
    width: 650px;
    grid-template-columns: 150px 350px 150px;
    grid-template-rows: 550px 150px 550px 150px 550px;
    .stepContainer {
      width: 350px;
      &:nth-child(1) {
        grid-column: 2/3;
        grid-row: 1/2;
      }
      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 3/4;
      }
      &:nth-child(3) {
        grid-column: 2/3;
        grid-row: 5/6;
      }
      .guideImgContainer {
        width: 350px;
        height: 350px;
      }
      h3 {
        &::before {
          border-top: 60px solid transparent;
          border-left: 175px solid #005e4e;
          border-right: 175px solid #005e4e;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .mainFeature {
    width: 100%;
    .featuresContainer {
      grid-template-columns: repeat(auto-fill, 100%);
      .featureItem {
        img {
          width: 290px;
          height: 290px;
        }
      }
    }
  }
  .guideSteps {
    width: 330px;
    grid-template-columns: 15px 300px 15px;
    grid-template-rows: 550px 150px 550px 150px 550px;
    .stepContainer {
      width: 300px;
      &:nth-child(1) {
        grid-column: 2/3;
        grid-row: 1/2;
        &::before {
          font-size: 11rem;
          margin: -130px 0px 0px 70px;
        }
      }
      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 3/4;
        &::before {
          font-size: 11rem;
          margin: -130px 0px 0px 70px;
        }
      }
      &:nth-child(3) {
        grid-column: 2/3;
        grid-row: 5/6;
        &::before {
          font-size: 11rem;
          margin: -130px 0px 0px 70px;
        }
      }
      .guideImgContainer {
        width: 300px;
        height: 300px;
      }
      h3 {
        &::before {
          border-top: 50px solid transparent;
          border-left: 150px solid #005e4e;
          border-right: 150px solid #005e4e;
        }
      }
    }
  }
}
