.hiddenAccountBox {
  top: 0;
  right: 0;
  z-index: 30;
  width: 330px;
  height: 100vh;
  position: fixed;
  overflow-x: hidden;
  background-color: #9dc295;
  transition: 0.5s;
  .cancelAccountBox {
    z-index: 40;
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 2rem;
    cursor: pointer;
  }
  .logInSignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin: 15px 0px;
      color: yellow;
      font-size: 1.8rem;
    }
    h4 {
      letter-spacing: 2px;
      font-size: 2rem;
    }
    button {
      margin: 30px 0px;
      width: 250px;
      border: none;
      background-color: transparent;
      box-shadow: 2px 2px 2px gray, 0px -1px 2px rgb(189, 188, 188);
      padding: 5px 10px;
      font-weight: bolder;
      position: relative;
      .googleIcon {
        position: absolute;
        top: 1px;
        left: 0;
        width: 25px;
        height: 25px;
      }
    }
    p {
      margin-bottom: 23px;
    }
    .logInForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgba(128, 128, 128, 0.7);
      padding-bottom: 5px;
      div {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        .logInTogglePassword {
          width: 30px;
          height: 30px;
          position: absolute;
          right: 0.5rem;
        }
        .logInPasswordLine {
          position: absolute;
          right: 0.7rem;
          transform: rotate(-45deg);
          width: 24px;
          height: 2px;
          background-color: black;
        }
      }
      input {
        width: 250px;
        font-size: 20px;
        border-radius: 10px;
        padding: 8px 35px 8px 10px;
        margin: 10px 0px;
        color: rgb(71, 71, 71);
        border: none;
        &:focus {
          outline: none;
        }
      }
      .checkOver18 {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        input {
          width: 13px;
          height: 13px;
        }
        label {
          margin-left: 8px;
          font-size: 15px;
        }
      }
      .forgetPassword {
        margin: 15px;
        width: 250px;
        text-decoration: underline;
        cursor: pointer;
        color: rgb(102, 102, 102);
        transition: 0.3s;
        &:hover {
          color: rgb(120, 120, 120);
        }
      }
      button {
        margin: 0px;
      }

      .accountErrorMessage {
        font-size: 18px;
        color: red;
        margin: 10px 0px 0px 0px;
      }
    }
    p {
      margin-top: 13px;
      color: rgb(102, 102, 102);
      span {
        font-size: 18px;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          color: rgb(120, 120, 120);
        }
      }
    }
  }
}

::placeholder {
  font-size: 16px;
}

.logInLoading {
  position: absolute;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #2f4858;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  top: 45%;
  left: 45%;
  z-index: 30;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logInGreeting {
  padding-top: 60px;
  height: 100vh;
  font-size: 1.8rem;
  color: #2f4858;
  letter-spacing: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: showUp 0.5s forwards;
  div {
    margin: 15px 0px;
  }
  .greetingBtnBox {
    display: flex;
    justify-content: space-around;
    button {
      border: none;
      font-size: 1rem;
      padding: 5px 8px;
      margin: 5px;
      font-weight: bold;
      letter-spacing: 2px;
    }
  }

  .notificationBox {
    width: 300px;
    height: 300px;
    border: 2px solid #006d60;
    border-radius: 10px;
    .notificationHeader {
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-weight: bolder;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        display: block;
        border-bottom: 2px solid #32896e;
        margin-top: 5px;
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .notificationListBox {
      overflow-y: auto;
      height: 240px;
      display: flex;
      flex-direction: column;
      .notificationItem {
        cursor: pointer;
        padding: 5px;
        margin: 5px;
        border-bottom: 1px solid gray;
        color: #2f4858;
        font-weight: bold;
        transition: 0.4s;
        &:hover {
          background-color: #8eb984;
        }
        p {
          font-size: 14px;
        }
        .notificationTime {
          font-size: 12px;
          margin: 3px 0px;
        }
      }
    }
  }
  .notificationDelete {
    margin: 0px 5px;
    div {
      margin: 0px 5px;
      padding: 5px;
      width: 300px;
      border-radius: 10px;
      font-size: 20px;
      color: #f3f3f3;
      text-align: center;
      background-color: #006d60;
    }
  }
}

@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.forgotPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  h4 {
    padding: 5px 15px;
    font-size: 1.6rem;
  }
  input {
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
    padding: 8px 35px 8px 10px;
    margin: 20px 0px;
    color: rgb(71, 71, 71);
    border: 1px solid #006d60;
    &:focus {
      outline: none;
    }
  }
  p {
    padding: 5px 20px;
    margin: 15px 0px;
  }
  button {
    width: 250px;
    border: none;
    font-size: 1.2rem;
    padding: 5px 8px;
    margin: 10px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .forgotPasswordReturnLogIn {
    padding: 5px 10px;
    border: 1px solid #006d60;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
    &:hover {
      background-color: rgb(204, 235, 245);
    }
  }
  .forgotPasswordMessage {
    color: red;
    font-weight: 600;
  }
}
