.basicInfo {
  box-shadow: 2px 2px 5px gray, -2px -2px 1px gray;
  background-color: #2f4858;
  color: rgb(250, 250, 209);
  border-radius: 10px;
  grid-column: 2/12;
  grid-row: 2/25;
}
.basicInfo .memberImg {
  margin: 15px auto;
  width: 300px;
  height: 300px;
  position: relative;
}
.basicInfo .memberImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.basicInfo .memberImg .cameraIconBox {
  position: absolute;
  bottom: -20px;
  right: -20px;
  background-color: rgb(250, 250, 209);
  color: #2f4858;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.basicInfo .memberImg .cameraIconBox:hover {
  background-color: rgb(226, 226, 177);
}
.basicInfo .memberImg .cameraIconBox .fa-camera {
  font-size: 2rem;
}
.basicInfo .memberProfile {
  width: 85%;
  margin: 5px auto;
}
.basicInfo .memberProfile .memberInfoTitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 2px solid rgb(250, 250, 209);
  padding: 15px 0px;
}
.basicInfo .memberProfile .memberInfoTitle h3 {
  font-size: 1.8rem;
}
.basicInfo .memberProfile .memberInfoTitle h3 i {
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bolder;
}
.basicInfo .memberProfile .memberInfoTitle h3 .fa-pen {
  color: rgb(250, 250, 209);
  display: none;
}
.basicInfo .memberProfile .memberInfoTitle h3 .fa-pen:hover {
  color: rgb(223, 223, 165);
}
.basicInfo .memberProfile .memberInfoTitle h3 .fa-check {
  color: rgb(250, 250, 209);
}
.basicInfo .memberProfile .memberInfoTitle h3 .fa-check:hover {
  color: rgb(223, 223, 165);
}
.basicInfo .memberProfile .memberInfoTitle .PrivatePublicBtn {
  width: 100px;
}
.basicInfo .memberProfile .memberInfoTitle .PrivatePublicBtn button {
  width: 100px;
  background-color: rgb(250, 250, 209);
  padding: 5px 8px;
  font-size: 16px;
  border: none;
}
.basicInfo .memberProfile .memberInfoTitle .PrivatePublicBtn button:hover {
  background-color: rgb(223, 223, 165);
}
.basicInfo .memberProfile .memberInfoTitle .PrivatePublicBtn button .fa-user-pen {
  font-size: 14px;
  margin: 5px;
}
.basicInfo .memberProfile .memberInputTitle {
  font-size: 1.2rem;
  text-align: center;
  width: 25%;
}
.basicInfo .memberProfile .memberInput {
  resize: none;
  border: none;
  height: 30px;
  width: 70%;
  text-align: center;
  background-color: rgb(250, 250, 209);
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}
.basicInfo .memberProfile .memberInput:focus {
  outline: none;
}
.basicInfo .memberProfile .memberName {
  margin: 15px 0px;
}
.basicInfo .memberProfile .memberJob {
  margin-top: 15px;
}
.basicInfo .memberProfile .memberPassion {
  margin-top: 15px;
}
.basicInfo .memberProfile .memberAboutMe {
  width: 95%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.basicInfo .memberProfile .memberAboutMe .memberAboutMeContent {
  text-align: left;
  height: 135px;
}

.memberTogglePassword {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
}

.memberPasswordLine {
  cursor: pointer;
  position: absolute;
  right: 0.7rem;
  transform: rotate(-45deg);
  width: 24px;
  height: 2px;
  background-color: black;
}

.memberLineId {
  margin: 20px 0px;
  position: relative;
}

.memberEmail {
  margin: 20px 0px;
}

.memberPassword {
  margin-top: 8px;
  position: relative;
}

.memberOption {
  margin: 20px 0px;
}
.memberOption h4 {
  text-align: center;
  font-size: 1.2rem;
}
.memberOption .memberOptionLindId {
  display: flex;
  width: 280px;
  margin: 15px auto;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.memberOption .memberOptionLindId p {
  width: 100px;
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
}
.memberOption .memberOptionLindId span {
  font-size: 13px;
  font-weight: bolder;
}
.memberOption .memberOptionLindId .memberOptionContainer {
  width: 40px;
  outline: 1px solid gray;
  margin: 0px 8px;
  border-radius: 20px;
}
.memberOption .memberOptionLindId .memberOptionContainer .memberOptionCircle {
  cursor: pointer;
  transition: 0.3s;
  width: 22px;
  height: 22px;
  background-color: rgb(250, 250, 209);
  border-radius: 50%;
}

.inputAndTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

@media (max-width: 1200px) {
  .basicInfo {
    margin-top: 50px;
    grid-column: 1/4;
    grid-row: 1/2;
  }
}/*# sourceMappingURL=index.css.map */