.basicInfo {
  box-shadow: 2px 2px 5px gray, -2px -2px 1px gray;
  background-color: #2f4858;
  color: rgb(250, 250, 209);
  border-radius: 10px;
  grid-column: 2/12;
  grid-row: 2/25;
  .memberImg {
    margin: 15px auto;
    width: 300px;
    height: 300px;
    position: relative;
    .cameraIconBox {
      position: absolute;
      bottom: -20px;
      right: -20px;
      background-color: rgb(250, 250, 209);
      color: #2f4858;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: rgb(226, 226, 177);
      }
      .fa-camera {
        font-size: 2rem;
      }
    }
  }
  .memberProfile {
    width: 85%;
    margin: 5px auto;
    .memberInfoTitle {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      border-bottom: 2px solid rgb(250, 250, 209);
      padding: 15px 0px;
      h3 {
        font-size: 1.8rem;
        i {
          cursor: pointer;
          margin-left: 10px;
          font-size: 14px;
          font-weight: bolder;
        }
        .fa-pen {
          color: rgb(250, 250, 209);
          display: none;
          &:hover {
            color: rgb(223, 223, 165);
          }
        }
        .fa-check {
          color: rgb(250, 250, 209);
          &:hover {
            color: rgb(223, 223, 165);
          }
        }
      }
      .PrivatePublicBtn {
        width: 100px;
        button {
          width: 100px;
          background-color: rgb(250, 250, 209);
          padding: 5px 8px;
          font-size: 16px;
          border: none;
          &:hover {
            background-color: rgb(223, 223, 165);
          }
          .fa-user-pen {
            font-size: 14px;
            margin: 5px;
          }
        }
      }
    }
    .memberInputTitle {
      font-size: 1.2rem;
      width: 20%;
    }
    .memberInput {
      resize: none;
      border: none;
      height: 30px;
      width: 75%;
      text-align: center;
      background-color: rgb(250, 250, 209);
      padding: 5px;
      border-radius: 10px;
      font-size: 15px;
      &:focus {
        outline: none;
      }
    }

    .memberName {
      width: 95%;
      margin-top: 15px;
      display: flex;
      align-items: center;
      h4 {
        width: 25%;
        text-align: left;
        font-size: 1.2rem;
      }
      textarea {
        resize: none;
        width: 45%;
        height: 30px;
        border: none;
        text-align: center;
        background-color: rgb(250, 250, 209);
        padding: 5px;
        font-size: 15px;
        border-radius: 10px;
        &:focus {
          outline: none;
        }
      }
      .memberSex {
        width: 30%;
        padding: 8px 0px 8px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
          width: 20%;
          margin-right: 10px;
        }
        textarea {
          width: 60%;
          &:focus {
            outline: none;
          }
        }
      }
    }

    .memberJob {
      margin-top: 8px;
    }
    .memberPassion {
      margin-top: 15px;
    }
    .memberAboutMe {
      width: 95%;
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      .memberAboutMeContent {
        text-align: left;
        height: 135px;
      }
    }
  }
}

//member private change
.memberTogglePassword {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
}
.memberPasswordLine {
  cursor: pointer;
  position: absolute;
  right: 0.7rem;
  transform: rotate(-45deg);
  width: 24px;
  height: 2px;
  background-color: black;
}
.memberLineId {
  margin: 20px 0px;
  position: relative;
}
.memberEmail {
  margin: 20px 0px;
}
.memberPassword {
  margin-top: 8px;
  position: relative;
}
.memberOption {
  margin: 20px 0px;
  h4 {
    text-align: center;
    font-size: 1.2rem;
  }

  .memberOptionLindId {
    display: flex;
    width: 280px;
    margin: 15px auto;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    p {
      width: 100px;
      font-size: 18px;
      text-align: center;
      font-weight: bolder;
    }
    span {
      font-size: 13px;
      font-weight: bolder;
    }
    .memberOptionContainer {
      width: 40px;
      outline: 1px solid gray;
      margin: 0px 8px;
      border-radius: 20px;
      .memberOptionCircle {
        cursor: pointer;
        transition: 0.3s;
        width: 22px;
        height: 22px;
        background-color: rgb(250, 250, 209);
        border-radius: 50%;
      }
    }
  }
}
.inputAndTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

@media (max-width: 1200px) {
  .basicInfo {
    margin-top: 50px;
    grid-column: 1/4;
    grid-row: 1/2;
  }
}
