.memberEvents {
  box-shadow: 2px 2px 5px gray, -2px -2px 1px gray;
  border-radius: 10px;
  background-color: #2f4858;
  position: relative;
  grid-column: 13/24;
  grid-row: 2/9;
}
.memberEvents .eventHeader {
  border-radius: 10px;
  display: flex;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
}
.memberEvents .eventHeader .memberEventLaunch {
  width: 50%;
  border-radius: 10px 0px 0px 0px;
  border-right: 1px solid #2f4858;
  cursor: pointer;
}
.memberEvents .eventHeader .memberEventJoin {
  width: 50%;
  border-radius: 0px 10px 0px 0px;
  cursor: pointer;
}
.memberEvents .memberEventContainer {
  overflow-y: auto;
  width: 95%;
  height: 220px;
  margin: 15px auto 5px auto;
  border-radius: 10px;
  background-color: rgb(250, 250, 209);
  padding: 5px;
}
.memberEvents .memberEventContainer .memberEventList {
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 40% 25% 20% 15%;
  grid-template-rows: 16px 40px 10px;
  margin-top: 3px;
  padding: 4px 0px;
}
.memberEvents .memberEventContainer .memberEventList:nth-child(1) {
  grid-template-rows: 20px;
}
.memberEvents .memberEventContainer .memberEventList .memberEventName {
  grid-column: 1/2;
  grid-row: 1/2;
}
.memberEvents .memberEventContainer .memberEventList .memberEventDate {
  grid-column: 2/3;
  grid-row: 1/2;
}
.memberEvents .memberEventContainer .memberEventList .memberEventTime {
  grid-column: 3/4;
  grid-row: 1/2;
}
.memberEvents .memberEventContainer .memberEventList .memberEventPal {
  grid-column: 4/5;
  grid-row: 1/2;
}
.memberEvents .memberEventContainer .memberEventList .memberEventBtn {
  grid-column: 1/5;
  grid-row: 2/3;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.memberEvents .memberEventContainer .memberEventList .memberEventBtn button {
  font-weight: bold;
  background-color: #2f4858;
  color: rgb(250, 250, 209);
  width: 30%;
  padding: 3px 5px;
  border: none;
  transition: 0.4s;
}
.memberEvents .memberEventContainer .memberEventList .memberEventBtn button:hover {
  background-color: #4b6677;
}
.memberEvents .memberEventContainer .memberEventList .memberEventBtn .memberEventContact {
  margin-right: 15px;
}

.participantContact {
  width: 330px;
  height: 240px;
  background-color: rgb(250, 250, 209);
  position: absolute;
  box-shadow: 2px 2px 3px #2f4858, -2px -2px 2px #2f4858;
  z-index: 15;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  transition: 0.4s;
}
.participantContact .participantCross {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
}
.participantContact .participantListTitleItem {
  display: flex;
  border-bottom: 1px solid rgb(75, 75, 75);
  padding-bottom: 10px;
}
.participantContact .participantListTitleItem .participantTitleName {
  width: 50%;
}
.participantContact .participantListTitleItem .participantTitleLineId {
  width: 50%;
}
.participantContact .participantListItem {
  margin: 5px 0px;
  padding: 5px 0px;
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: 25px 20px;
  border-bottom: 1px solid rgb(75, 75, 75);
}
.participantContact .participantListItem .participantName {
  grid-column: 1/2;
  grid-row: 1/2;
}
.participantContact .participantListItem .participantLineId {
  grid-column: 2/3;
  grid-row: 1/2;
}
.participantContact .participantListItem .participantWebsiteLink {
  grid-column: 1/3;
  grid-row: 2/3;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .memberEvents {
    margin: 30px 0px;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media (max-width: 600px) {
  .memberEvents {
    grid-column: 1/4;
  }
}
@media (max-width: 430px) {
  .memberEvents .participantContact {
    width: 310px;
  }
  .memberEvents .participantContact .participantListItem {
    width: 300px;
    grid-template-columns: 150px 150px;
  }
}/*# sourceMappingURL=index.css.map */